{% extends "layout.html" %}

{% block title %}
    Play!
{% endblock %}

<!DOCTYPE html>

{% block main %}

    <!-- Sidebar from which to select questions -->
    <!-- All question buttons have name="answer" -->
    <form action="/game" method="post">
      <div class="sidenav">
        <div id="firstdropright" class="dropdown dropright">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            Face
          </button>
          <div class="dropdown-menu">
            <button type="submit" name="answer" value="cheeksred" class="btn btn-primary btn-block">Rosy Cheeks?</button>
            <button type="submit" name="answer" value="sad" class="btn btn-primary btn-block">Frowning?</button>
          </div>
        </div>
        <div class="dropdown dropright">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            Eye Color
          </button>
          <div class="dropdown-menu">
            <button type="submit" name="answer" value="eyesblue" class="btn btn-primary btn-block">Blue Eyes?</button>
            <button type="submit" name="answer" value="eyesbrown" class="btn btn-primary btn-block">Brown Eyes?</button>
          </div>
        </div>
        <div class="dropdown dropright">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            Nose
          </button>
          <div class="dropdown-menu">
            <button type="submit" name="answer" value="nosebig" class="btn btn-primary btn-block">Big Nose?</button>
            <button type="submit" name="answer" value="nosesmall" class="btn btn-primary btn-block">Small Nose?</button>
          </div>
        </div>
        <div class="dropdown dropright">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            Mouth
          </button>
          <div class="dropdown-menu">
            <button type="submit" name="answer" value="mouthbig" class="btn btn-primary btn-block">Big Mouth?</button>
            <button type="submit" name="answer" value="mouthsmall" class="btn btn-primary btn-block">Small Mouth?</button>
          </div>
        </div>
        <div class="dropdown dropright">
          <button type="button" class="btn btn-primary dropdown-toggle width" data-toggle="dropdown">
            Hair Color
          </button>
          <div class="dropdown-menu">
            <button type="submit" name="answer" value="hairblack" class="btn btn-primary btn-block">Black Hair?</button>
            <button type="submit" name="answer" value="hairbrown" class="btn btn-primary btn-block">Brown Hair?</button>
            <button type="submit" name="answer" value="hairginger" class="btn btn-primary btn-block">Red Hair?</button>
            <button type="submit" name="answer" value="hairblonde" class="btn btn-primary btn-block">Blonde Hair?</button>
            <button type="submit" name="answer" value="hairwhite" class="btn btn-primary btn-block">White Hair?</button>
          </div>
        </div>
        <div class="dropdown dropright">
          <button type="button" class="btn btn-primary dropdown-toggle width" data-toggle="dropdown">
            Hair Length
          </button>
          <div class="dropdown-menu">
            <button type="submit" name="answer" value="hairlong" class="btn btn-primary btn-block">Long Hair?</button>
            <button type="submit" name="answer" value="hairshort" class="btn btn-primary btn-block">Short Hair?</button>
            <button type="submit" name="answer" value="bald" class="btn btn-primary btn-block">Bald?</button>
          </div>
        </div>
        <div class="dropdown dropright">
          <button type="button" class="btn btn-primary dropdown-toggle width" data-toggle="dropdown">
            Hair Texture
          </button>
          <div class="dropdown-menu">
            <button type="submit" name="answer" value="hairstraight" class="btn btn-primary btn-block">Straight Hair?</button>
            <button type="submit" name="answer" value="haircurly" class="btn btn-primary btn-block">Curly Hair?</button>
            <button type="submit" name="answer" value="hairpartition" class="btn btn-primary btn-block">Parted Down the Middle?</button>
          </div>
        </div>
        <div class="dropdown dropright">
          <button type="button" class="btn btn-primary dropdown-toggle width" data-toggle="dropdown">
            Facial Hair
          </button>
          <div class="dropdown-menu">
            <button type="submit" name="answer" value="hairfacial" class="btn btn-primary btn-block">Any Facial Hair?</button>
            <button type="submit" name="answer" value="beard" class="btn btn-primary btn-block">Beard?</button>
            <button type="submit" name="answer" value="mustache" class="btn btn-primary btn-block">Mustache?</button>
          </div>
        </div>
        <div class="dropdown dropright">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            Accessories
          </button>
          <div class="dropdown-menu">
            <button type="submit" name="answer" value="hairstuff" class="btn btn-primary btn-block">Any Hair Accessories?</button>
            <button type="submit" name="answer" value="hat" class="btn btn-primary btn-block">Hat?</button>
            <button type="submit" name="answer" value="earrings" class="btn btn-primary btn-block">Earrings?</button>
            <button type="submit" name="answer" value="glasses" class="btn btn-primary btn-block">Glasses?</button>
          </div>
        </div>
        <div class="dropdown dropright">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            Gender
          </button>
          <div class="dropdown-menu">
            <button type="submit" name="answer" value="female" class="btn btn-primary btn-block">Female?</button>
            <button type="submit" name="answer" value="male" class="btn btn-primary btn-block">Male?</button>
          </div>
        </div>
      </div>
    </form>

    <!-- Image grid -->

        <div class="card_container">
          <form action="/game" method="post">
            <div class="row">
              <div class="column">
              {% for character in eliminated %}
                <img onload="grayscale('{{ character|tojson|safe }}')" id="Alex" src="../static/newcharacters/Alex.png">
              {% endfor %}
                <img id="Alfred" src="../static/newcharacters/Alfred.png">
                <img id="Anita" src="../static/newcharacters/Anita.png">
                <img id="Anne" src="../static/newcharacters/Anne.png">
                <img id="Bernard" src="../static/newcharacters/Bernard.png">
                <img id="Bill" src="../static/newcharacters/Bill.png">
                <img id="Charles" src="../static/newcharacters/Charles.png">
                <img id="Claire" src="../static/newcharacters/Claire.png">
              </div>
              <div class="column">
                <img id="David" src="../static/newcharacters/David.png">
                <img id="Eric" src="../static/newcharacters/Eric.png">
                <img id="Frans" src="../static/newcharacters/Frans.png">
                <img id="George" src="../static/newcharacters/George.png">
                <img id="Herman" src="../static/newcharacters/Herman.png">
                <img id="Joe" src="../static/newcharacters/Joe.png">
                <img id="Maria" src="../static/newcharacters/Maria.png">
                <img id="Max" src="../static/newcharacters/Max.png">
              </div>
              <div class="column">
                <img id="Paul" src="../static/newcharacters/Paul.png">
                <img id="Peter" src="../static/newcharacters/Peter.png">
                <img id="Philip" src="../static/newcharacters/Philip.png">
                <img id="Richard" src="../static/newcharacters/Richard.png">
                <img id="Robert" src="../static/newcharacters/Robert.png">
                <img id="Sam" src="../static/newcharacters/Sam.png">
                <img id="Susan" src="../static/newcharacters/Susan.png">
                <img id="Tom" src="../static/newcharacters/Tom.png">
              </div>
            </div>

        <!-- Guess the character by that character's name-->
          <h1 id="guess">Guess the mystery character!</h1>
          <div class="form-group">
            <select id="guessname" name="guessname">
                <option disabled selected value>NAME</option>

                {% for character in user_board %}
                    {% if character[1] == 'True' %}
                        <option value="{{ character[0] }}">{{ character[0] }}</option>
                    {% endif %}
                {% endfor %}

            </select>
            <button type="submit" name="finalanswer" class="btn btn-primary btn-block">Guess!</button>
          </div>
        </form>
      </div>

      <!-- JS function to convert eliminate characters to black and white -->
      <script>
          function grayscale(character) {
              document.getElementById(character).style.filter = "grayscale(100%)";
          }
      </script>


{% endblock %}
